/* Moblie & Table */
@media (max-width: 1023px) {
    /* html,
    body,
    .main {
        width: 1400px; */
    /* } */

    :root {
        --height-header: 100px;
        --heigth-header-logo: 50px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .content__generation-header {
        font-size: 2.3rem;
    }

    .content__generation {
        width: 370px;
        right: 22px;
        top: 90%;
    }


    .content__generation-text {
        font-size: 1.5rem;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .content-section {
        padding-top: 280px;
    }

    .section__heading {
        font-size: 3.2rem;
    }

    .section__sub-heading {
        font-size: 2rem;
        line-height: 2rem;
        width: 400px;
    }

    .products-section__heading {
        font-size: 3rem;
    }

    .content-solutions__heading {
        font-size: 3.4rem;
    }

    .content-solutions__title {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 0;
    }

    .products-section__text {
        font-size: 3rem;
        line-height: 2.2rem;
        height: 2.4rem;
    }

    .content-solutions__watch {
        font-size: 3rem;
        line-height: 4rem;
    }

    .content-solutions__video-tour {
        font-size: 3rem;
    }

    .content-project__office-title {
        font-size: 2.3rem;
    }

    .content__paiting-text-two {
        font-size: 1.7rem;
    }

    .content-showrooms__img {
        max-width: 100%;
        height: 445px;
        width: 900px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .content__img {
        width: 1200px;
        max-width: unset;
        height: 300px;
    }

    .content__product-bathroom {
        height: 618px;
        margin-left: -14px;
    }

    .content__product-marble {
        height: 618px;
    }

    .products-section--size-s {
        width: 450px;
    }

    .bathroom {
        top: calc(100% - 90px);
        left: 77px;
    }
    
    .marble {
        top: calc(100% - 90px);
        left: 76px;
    }

    .content__product-img {
        display: inline-flex;
        margin-top: 30px;
    }

    .content__product-outdoor {
        height: 618px;
        padding: 0 8px;
        margin-left: -14px;
        width: 992px;
    }

    .content__product-kitchen {
        margin-top: 0;
        padding: 0 8px;
        margin-right: -15px;

    }

    .content__product-kitchen {
        max-width: 100%;
        height: 618px;
    }
    
    .products-section {
        padding: 30px;
    }

    .interior {
        width: 450px;
        right: 80px;
    }

    .flooring {
        width: 450px;
        right: 80px;
    }

    .content-solutions {
        padding: 0 8px;
        margin-top: 50px;
    }
    
    .content-solutions__img {
        margin-top: 70px;
        height: calc(100% - 70px);
        margin-right: 8px;
    }

    .content-solutions__video {
        width: 322px;
        height: 154px;
        top: 88%;
        right: 0px;
    }

    .content-solutions__about-img {
        height: 194px;
        margin-bottom: 38px;
    }

    .footer {
        width: 1211px;
    }
}

@media (max-width: 740px) {
    .maim {
        overflow: hidden;
    }

    .btn.btn--full-width {
        width: 367px;
        height: 100px;
        font-size: 3rem;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__logo-head {
        margin-top: 30px;
        height: 30px;
        width: 57px;
        position: relative;
        top: 30px;
    }

    .header__menu {
        display: flex;
    }
    
    .header__bars {
        display: block;
    }

    .header__search {
        display: none;
    }

    .header__menu-icon {
        margin: 16px;
    }

    .header__info-logo-img {
        width: 20px;
        margin-right: 16px;
    }

    .header__info-icon {
        font-size: 45px;
    }

    .header__info {
        margin-top: -11px;
    }

    .header__info .header__info-icon {
        display: none;
    }

    .content {
        margin-top: 30px;
    }

    .app-content {
        margin: 0 4px;
    }

    .content__img {
        height: 235px;
    }

    .section__heading {
        line-height: 3.6rem;
        font-size: 2.7rem;
    }

    .section__sub-heading {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .content__product-bathroom {
        margin-top: 10px;
        height: 245px;
        width: 100%;
    }

    .content__product-marble {
        margin-top: 30px;
        height: 245px;
    }

    .content__product-outdoor {
        margin-top: 30px;
        height: 250px;
    }

    .content__product-marble {
        max-width: 100%;
    }

    .content__product-kitchen {
        margin-top: 30px;
        height: 250px;
    }

    .content-project__about-img {
        height: 280px;
        width: 350px;
    }
    
    .content__filter {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -150px;
        transform: translateY(-50%);
    }
    
    .content__filter-control--left{
        margin-left: -16px;
    }
    
    .content__filter-control--right {
        margin-right: -16px;
    }

    .left {
        margin-left: 25px;
    }

    .right {
        margin-right: 25px;
    }
    
    .content__filter-control {
        width: 36px;
        height: 36px;
        background-color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content__filter-control-link:left {
        padding-left: 0;
    }
    
    .content__filter-control-icon {
        color: var(--black-color);
        font-size: 2rem;
    }
    

    .content-project__office-heading {
        font-size: 2.2rem;
    }

    .content-project__office-title {
        font-size: 1.6rem;
    }

    .content__mobile-img {
        margin-top: 20px;
    }

    .marble,
    .bathroom {
        left: 260px;
        width: 713px;
    }

    .interior,
    .flooring {
        right: 240px;
        width: 713px;
    }

    .content-solutions {
        padding-top: 20px;
    }

    .content-section--top {
        padding-top: 0;
        margin-top: -120px;
    }

    .content-vision__img {
        height: 600px;
    }

    .content__generation.vision {
        top: 32px;
        left: 22px;
    }

    .content-solutions__creation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content-solutions__about-img {
        height: 290px;
    }

    .content-solutions__heading {
        font-size: 2.7rem;
        width: 410px;
        margin: 12px;
    }

    .content-solutions__img {
        margin-top: 30px;
        height: 520px;
    }

    .content-solutions__video {
        width: 330px;
        height: 150px;
    }

    .content-showrooms {
        margin: 134px 0 -6px;
    }

    .content-showrooms__img {
        height: 611px;
        width: 988px;
    }

    .content__generation.showrooms {
        width: 622px;
        left: 506px;
        top: 42px;
    }

    .content__generation {
        top: 203px;
    }

    .footer {
        height: 380px;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer__content::after {
        content: "";
        display: block;
        border-bottom: 1px solid #474747;
        position: relative;
        top: 35px;
        width: 326px;
        left: 45px;
    }

    .content__generation.content__generation--color-white {
        top: -120px;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__products {
        margin-top: 16px;
    }

    .footer__products-heading, 
    .footer__services-heading, 
    .footer__info-heading {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 16px;
        padding-bottom: 0;
        line-height: 2rem;
    }

    .footer__info,
    .footer__products,
    .footer__services {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__filter {
        display: block;
    }

    .footer__filter-icon {
        color: var(--white-color);
        font-size: 1.6rem;
        margin-right: 16px;
    }

    .footer__socials {
        margin: 47px 0;
        text-align: center;
    }

    .footer__socials-icon {
        font-size: 2.3rem;
    }

    .footer__copy-right {
        flex-direction: column;
        text-align: center;
    }
}